# Python/Django
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db
*.log
*.pot
*.mo
*.cache
*.sqlite3-journal

# Environment files
.env

# Virtual environments
venv/
.venv/
ENV/
env/

# Editor and system files
*.swp
*.swo
*.DS_Store
.idea/
.vscode/

# Django static files
staticfiles/
media/

# Python build artifacts
build/
dist/
*.egg-info/
